{{#if rowconfig.divider}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

{{else}}{{! divider = false }}

  <td>
    {{rowconfig.title}}
    {{#if rowconfig.tooltip}}
      {{info-tooltip tip=rowconfig.tooltip}}
    {{/if}}
  </td>

  {{!-- OLD --}}
  <td class="cell-border-left {{if (eq data2.sum 0) 'medium-gray'}} {{if (gte data2.cv 20) 'medium-gray'}}">
    {{format-as data2.sum data2.rowconfig}}
  </td>{{!-- previous dataset sum--}}
  {{#if reliability}}
    <td class="{{if (gte data2.cv 20) 'medium-gray'}}">{{format-as data2.m data2.rowconfig.decimal}}</td>
    <td class="{{if (gte data2.cv 20) 'medium-gray'}}">{{format-as data2.cv data2.rowconfig.decimal}}</td>
  {{/if}}
  <td class="{{if (gte data2.cv 20) 'medium-gray'}}">{{decimal-one-place-percent data2.percent}}</td>{{!-- previous dataset percent --}}
  {{#if reliability}}
    <td class="{{if (gte data2.cv 20) 'medium-gray'}}">{{format-as data2.selectedPercentM data2.rowconfig.decimal}}</td>
  {{/if}}

  {{!-- CURRENT --}}
  <td class="cell-border-left {{if (eq data.sum 0) 'medium-gray'}} {{if (gte data.cv 20) 'medium-gray'}}">{{format-as data.sum data.rowconfig.decimal}}</td>{{!-- current dataset sum --}}
  {{#if reliability}}
    <td class="{{if (gte data.cv 20) 'medium-gray'}}">{{format-as data.m data.rowconfig.decimal}}</td>
    <td class="{{if (gte data.cv 20) 'medium-gray'}}">{{format-as data.cv data.rowconfig.decimal}}</td>
  {{/if}}
  <td class="{{if (gte data.cv 20) 'medium-gray'}}">{{decimal-one-place-percent data.percent}}</td>{{!-- current dataset percent --}}
  {{#if reliability}}
    <td class="{{if (gte data.cv 20) 'medium-gray'}}">{{format-as data.selectedPercentM data.rowconfig.decimal}}</td>
  {{/if}}

  {{!-- DIFFERENCE --}}
  <td class="cell-border-left {{if changeInsignificant 'medium-gray'}}">{{change}}</td>{{!-- selected area sum change --}}
  {{#if reliability}}
    <td class="{{if changeInsignificant 'medium-gray'}}">{{changeMOE}}</td>{{!-- selected area sum change moe --}}
  {{/if}}
  <td class="{{if changePercentInsignificant 'medium-gray'}}">{{changePercent}}</td>{{!-- selected area percent change --}}
  {{#if reliability}}
    <td class="{{if changePercentInsignificant 'medium-gray'}}">{{changePercentMOE}}</td>{{!-- selected area percent change moe --}}
  {{/if}}
  <td class="{{if changePercentagePointInsignificant 'medium-gray'}}">{{changePercentagePoint}}</td>
  {{#if reliability}}
    <td class="{{if changePercentagePointInsignificant 'medium-gray'}}">{{changePercentagePointMOE}}</td>
  {{/if}}


{{/if}}
{{yield}}
